* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --text: 1rem;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}

.hero-section {
    min-height: 100vh;
    background-image: linear-gradient(black,transparent)
    ,url('https://images.unsplash.com/photo-1513475382585-d06e58bcb0e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    color: brown;
    font-size: 2.5rem;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline;
    margin-left: 3rem;
    font-size: var(--text);
}

.navbar ul li a{
    text-decoration: none;
    color: brown;
}
.hero-text{
    color: rgb(217, 164, 164);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-shadow: 1px 1px rgb(55, 46, 46);;
    
    
}

.hero-text a{
    text-decoration: none;
    color: rgb(12, 11, 11);
    background: #b16532;
    font-size: 1.2rem;
    
    margin: 0.8rem auto;
    display: block;
    transition: opacity 250ms linear;
    text-shadow: none;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.hero-text a:hover{
    opacity: 0.7;
    
}

.action, .navbar ul li a:hover{
    background: rgb(147, 129, 129);
    border-radius: 3px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    
}


 